@charset "utf-8";
/* CSS Document */

*{ padding:0; margin:0;}
li{ list-style: none;}
a{ text-decoration: none;}
h1,h2,h3,,h4,h5,h6,strong,b{ font-weight: normal;}
em,i{ font-style: normal;}
.clearfix:after{ content:""; display:block; clear:both;}
.clearfix{ zoom:1;}

body{ font-family:"\5FAE\8F6F\96C5\9ED1";}
.fl{ float:left;}
.fr{ float:right;}
.w{ width:930px; margin:0 auto; }
img{ border: none;}